<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__brand">
      <img src="/assets/img/SA-Logo-with tagline-transparent 300 res.png" alt="System Alternatives logo with tagline">
    </div>
    <nav class="footer__nav">
      <div>
        <h5>Services</h5>
        <ul>
          <li><a href="/managed-services.html">Managed Services</a></li>
          <li><a href="/cybersecurity.html">Cybersecurity</a></li>
        </ul>
      </div>
      <div>
        <h5>Company</h5>
        <ul>
          <!--<li><a href="/about.html">About Us</a></li>-->
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
      <div>
        <h5>Support</h5>
        <ul>
          <li><a href="/support.html">Remote Support</a></li>
          <li><a href="https://systemalternatives.flexpmts.com/core/Payment/PaymentTerminal">Pay Bill</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="footer__bar">
    <div class="container">
      <span>© <span id="year"></span> System Alternatives, LLC. All rights reserved.</span>
    </div>
  </div>
</footer>
